/* This file changes the appearance of the registration page */

/* registration side panel */
.small-panel-heading {
  padding:4px;
}

/* extraneous sidebar headers */
#ptalPgltAreaHeader, #ptalPgltHeader_ADMN_DU_CS_REGISTRATIO1040900 {
  display:none;
}

/* main registration page, content under Instructions */
#win0divDU_SEARCH_WRK_STRMlbl {
  margin-top: -5px;
}
#CLASS_SRCH_WRK2_INSTITUTION, #DU_SEARCH_WRK_STRM {
  padding:4px;
  margin-bottom:3px;
}

/* class schedule and bookbag boxes */
#ACE_DERIVED_SSS_CRT_, #ACE_DERIVED_SSS_ENR_ {
  padding:5px 14px;
}
#ACE_DERIVED_SSS_ENR_GROUP_BOX tr:nth-child(2) td:nth-child(4) {
  left:10px;
  position:relative;
}
#ACE_DERIVED_SSS_ENR_GROUP_BOX {
  margin-top:15px;
}

/* yellow "show all" button */
.PSPUSHBUTTON:not(.Left) {
  font-weight: bold;
  width:auto;
  border:1px solid #dddddd;
  border-radius:2px;
  padding:4px 10px;
  color:#181818;
  cursor:pointer; /*for some reason, this is 'hand' in the default stylesheet???*/
}

/* green "set terms" button */
.SSSBUTTON_ACTIONLINK {
  padding:3px 0px;
  border:1px solid;
  border-radius:2px;
}
.SSSBUTTON_ACTIONLINK:hover{
  border:1px solid;
}
#DU_DERIVED_STRM_DU_SETDEFAULT\$141\$\$span {
  background:none;border:none;
  margin-top:-8px;
}

/* all links */
a {
  text-decoration-skip: ink; /* skipping underlines */
}
