/* This file changes the appearance of the registration page */

/* registration side panel */
.small-panel-heading {
  padding:4px 8px;
}

/* extraneous sidebar headers */
#ptalPgltAreaHeader, #ptalPgltHeader_ADMN_DU_CS_REGISTRATIO1040900 {
  display:none;
}

/* main registration page, content under Instructions */
#win0divDU_SEARCH_WRK_STRMlbl {
  margin-top: -5px;
}
#CLASS_SRCH_WRK2_INSTITUTION, #DU_SEARCH_WRK_STRM {
  padding:4px;
  margin-bottom:3px;
}

/* class schedule and bookbag boxes */
#ACE_DERIVED_SSS_CRT_, #ACE_DERIVED_SSS_ENR_ {
  padding:5px 0px 5px 14px;
}
#ACE_DERIVED_SSS_ENR_GROUP_BOX {
  margin-top:15px;
}

/* yellow "show all" button */
.PSPUSHBUTTON:not(.Left) {
  width:auto;
  border:1px solid transparent;
  border-radius:3px;
  padding:4px 10px;
  color:white;
  cursor:pointer; /*for some reason, this is 'hand' in the default stylesheet???*/
  background-color:#01518e;
}
.PSPUSHBUTTON.Left, .PSPUSHBUTTON.Left:hover {
  background: transparent;
  border:none !important;
}

.PSPUSHBUTTON:not(.Left):hover {
  opacity:0.5;
}

/* green "set terms" button */
.SSSBUTTON_ACTIONLINK {
  padding:3px 10px;
  border:1px solid transparent;
  border-radius:3px;
  font-weight: normal;
  text-transform: capitalize;
}
.SSSBUTTON_ACTIONLINK:hover{
  border:1px solid transparent;
  font-weight:normal;
  text-transform: capitalize;
}
#DU_DERIVED_STRM_DU_SETDEFAULT\$141\$\$span {
  background:none;border:none;
  margin:-8px -18px;
}

/* box containing alphabet to sort */
.PSFRAMEWBO {
  border:none;
}

/* alphabet letters sort buttons */
a[id*='SSR_CLSRCH_WRK2_SSR_ALPHANUM'],a[id*='SSR_CLSRCH_WRK2_SSR_ALPHANUM']:hover {
  padding:3px;
  border-radius: 3px;
  cursor: pointer;
}
span[id*='SSR_CLSRCH_WRK2_SSR_ALPHANUM'],span[id*='SSR_CLSRCH_WRK2_SSR_ALPHANUM']:hover {
  background-color: transparent;
}

/* text containing "Duke University" and term */
#win0divDERIVED_CLSRCH_SSS_PAGE_KEYDESCR {
  margin-top:10px;
}

/* line between "Instructions" and "Course Subject Lookup" */
#win0divDERIVED_CLSRCH_SS_TRANSACT_TITLE {
  display:none;
}

/* div containing all the subjects */
#win0divSUBJECT\$0 {
  margin-top:-10px;
}

/* get rid of space above "Search by Subject" */
#ACE_DERIVED_SSTSNAV_GROUP_BOX\$17\$ tbody tr:nth-child(2) {
  display:none;
}

/* registration links */
.PSHYPERLINK {
  font-size:12px !important;
}

/* all text */
.PSEDITBOX_DISPONLY {
  font-size: 12px;
  font-family: sans-serif;
}

/* "old number =" */
div[id*='win0divDERIVED_SSS_BCC_DESCRlbl'] {
  position: relative;
  margin-left: 10px;
}

/* spacing between courses */
#ACE_DU_SS_SUBJ_CAT\$0 tbody tr td[height='20'] {
  height:25px;
}

/* 1st layer expand courses arrow dropdown */
a[id*='DU_SEARCH_WRK_SSR_EXPAND_COLLAP2'] {
  position:relative;
  top:6px;
}

/* 2nd layer expand courses arrow dropdown */
a[id*='DU_SEARCH_WRK_SSR_EXPAND_COLLAPS'] {
  position:relative;
  top:3px;
}

/* all links */
a {
  text-decoration-skip: ink; /* skipping underlines */
}
