/*
    Name: infoPreview.css
    Desc: Styles the elements injected by infoPreview.js
*/

/* holds badges/previews */
.info-preview {
  position: absolute;
  left:325px;
  top:1px;
  font-size:12px;
}

/* badges/previews, i.e. '.description-info' */
div[class$='-info'] {
  display: inline;
  margin: 0px 3px;
  padding:3px 10px;
  border-radius: 3px;
  color:white;
  position:relative;
  white-space: nowrap;
}
div[class$='-info']:hover {
  background-color:rgba(0,0,0,0.8);
}
div[class$='-info']:hover::after {
  content:" ";
  background-color:transparent;
  position: absolute;
  top:0px;
  left:100%;
  width:5px;
  height:20px;
}
div[class^='description'], div[class^='times'] {
  background-color:#01518e;
}
div[id^='win0divDU_SS_SUBJ_CAT_DESCR'] { /* needed to position badge absolutely */
  position: relative;
}

/* tooltip for the above badges */
div[class$='-tooltip'] {
  position: absolute;
  margin-left: 15px;
  padding: 0px 13px;
  border-radius: 3px;
  top: 0px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
  display: none;
  white-space: nowrap;
}
div[class$='-tooltip']::after { /* https://www.w3schools.com/css/css_tooltip.asp */
    content: " ";
    position: absolute;
    top: 10px;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0,0,0,0.8) transparent transparent;
}

span[class$='-warning'] {
  padding:2px 5px;
  border-radius: 3px;
  margin: 5px 5px 0px 0px;
  display:inline-block;
}
.early-warning {
  background-color:#ffdd57;
  color:black;
}
.full-warning {
  background-color:#ff3860;
}
.consent-warning {
  background-color:#2366d1;
}

/* remove "OLD NUMBER" */
div[id^='win0divDERIVED_SSS_BCC_DESCRlbl'] {
  display:none;
}
span[id^='DERIVED_SSS_BCC_DESCR'] {
  display:none;
}

/* times */
span[class$="-times"] {
  padding:2px 5px;
  margin-right:10px;
  border-radius:3px;
}
.lec-times {
  background-color:#18b85e;
}
.dis-times {
  background-color:#1898b8;
}
.lab-times {
  background-color:#b8186f;
}
.section-full {
  opacity: 0.4;
  text-decoration: line-through;
}
