/*
    Name: infoPreview.css
    Desc: Styles the elements injected by infoPreview.js
*/

/* holds badges/previews */
.info-preview {
  position: absolute;
  left:325px;
  top:1px;
  font-size:12px;
}

/* badges/previews, i.e. '.description-info' */
div[class$='-info'] {
  display: inline;
  margin: 0px 3px;
  padding:3px 10px;
  border-radius: 3px;
  color:white;
}
div[class$='-info']:hover {
  background-color:#dadada;
}
div[class^='description'] {
  background-color:#01518e;
}
div[class^='synopsis'] {
  background-color: #00b89c;
}
div[id^='win0divDU_SS_SUBJ_CAT_DESCR'] { /* needed to position badge absolutely */
  position: relative;
}

/* tooltip for the above badges */
div[class$='-tooltip'] {
  position: absolute;
  margin-left: 15px;
  padding: 0px 13px;
  border-radius: 3px;
  top: 0px;
  color: white;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  display: none;
}
div[class$='-tooltip']:after {
  content:' ';
  border-style: solid;
  border-color:  transparent rgba(0,0,0,0.6) transparent transparent ;
  border-width: 4px;
  border-style: solid;
  position: absolute;
  right:100%;
  top:6px;

}
span[class$='-warning'] {
  padding:2px 5px;
  border-radius: 3px;
  margin-right: 5px;
  display:inline-block;
}
span[class^='early'] {
  background-color:#ffdd57;
  color:black;
}
span[class^='full'] {
  background-color:#ff3860;
}
span[class^='consent'] {
  background-color:#2366d1;
}