/*
    Name: restyle.css
    Desc: Changes the appearance of registration page.
*/

/* holds badges/previews */
.info-preview {
  position: absolute;
  left:325px;
  top:4px;
  font-size: 12px;
}

/* badges/previews, i.e. '.description-info' */
div[class$='-info'] {
  margin: 0px 5px;
  padding:3px 10px;
  border-radius: 3px;
}
div[class$='-info']:hover {
  background-color:#dadada;
  color: white;
}
div[class^='early'] {
  background-color: #ffdd57;
  border-color: #ffdd57;
}
div[class^='description'] {
  background-color:#2366d1;
  border-color: #2366d1;
  color:white;
}
div[class^='synopsis'] {
  background-color: #00b89c;
  border-color:#00b89c;
  color:white;
}
div[id^='win0divDU_SS_SUBJ_CAT_DESCR'] { /* needed to position badge absolutely */
  position: relative;
}
div[class$='-tooltip'] {
  position: absolute;
  left: 90px;
  padding: 0px 12px;
  border-radius: 3px;
  top:-3px;
  color: white;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  display: none;
}

/* registration side panel */
.small-panel-heading {
  padding:4px 8px;
}

/* extraneous sidebar headers */
#ptalPgltAreaHeader, #ptalPgltHeader_ADMN_DU_CS_REGISTRATIO1040900 {
  display:none;
}

/* main registration page, content under Instructions */
#win0divDU_SEARCH_WRK_STRMlbl {
  margin-top: -5px;
}
#CLASS_SRCH_WRK2_INSTITUTION, #DU_SEARCH_WRK_STRM {
  padding:4px;
  margin-bottom:3px;
}

/* class schedule and bookbag boxes */
#ACE_DERIVED_SSS_CRT_, #ACE_DERIVED_SSS_ENR_ {
  padding:5px 0px 5px 14px;
}
#ACE_DERIVED_SSS_ENR_GROUP_BOX {
  margin-top:15px;
}

/* yellow "show all" button */
.PSPUSHBUTTON:not(.Left) {
  width:auto;
  border:1px solid transparent;
  border-radius:3px;
  padding:4px 10px;
  color:white;
  cursor:pointer; /*for some reason, this is 'hand' in the default stylesheet???*/
  background-color:#01518e;
}
.PSPUSHBUTTON.Left, .PSPUSHBUTTON.Left:hover {
  background: transparent;
  border:none !important;
}

.PSPUSHBUTTON:not(.Left):hover {
  opacity:0.5;
}

/* green "set terms" button */
.SSSBUTTON_ACTIONLINK {
  padding:3px 10px;
  border:1px solid transparent;
  border-radius:3px;
  font-weight: normal;
  text-transform: capitalize;
}
.SSSBUTTON_ACTIONLINK:hover{
  border:1px solid transparent;
  font-weight:normal;
  text-transform: capitalize;
}
#DU_DERIVED_STRM_DU_SETDEFAULT\$141\$\$span {
  background:none;border:none;
  margin:-8px -18px;
}

/* box containing alphabet to sort */
.PSFRAMEWBO {
  border:none !important;
}

/* alphabet letters sort buttons */
a[id*='SSR_CLSRCH_WRK2_SSR_ALPHANUM'],a[id*='SSR_CLSRCH_WRK2_SSR_ALPHANUM']:hover {
  padding:3px;
  border-radius: 3px;
  cursor: pointer;
}
span[id*='SSR_CLSRCH_WRK2_SSR_ALPHANUM'],span[id*='SSR_CLSRCH_WRK2_SSR_ALPHANUM']:hover {
  background-color: transparent;
}

/* text containing "Duke University" and term */
#win0divDERIVED_CLSRCH_SSS_PAGE_KEYDESCR {
  margin-top:10px;
}

/* line between "Instructions" and "Course Subject Lookup" */
#win0divDERIVED_CLSRCH_SS_TRANSACT_TITLE {
  display:none;
}

/* div containing all the subjects */
#win0divSUBJECT\$0 {
  margin-top:-10px;
}

/* get rid of space above "Search by Subject" */
#ACE_DERIVED_SSTSNAV_GROUP_BOX\$17\$ tbody tr:nth-child(2) {
  display:none;
}

/* registration links */

/*.PSHYPERLINK {*/
#DERIVED_SSS_ENR_SS_CLS_SCHED_LINK, #DERIVED_SSS_CRT_LINK_ADD_ENRL {
  font-size:12px !important;
}

/* all text */
/*.PSEDITBOX_DISPONLY {
  font-size: 12px;
}*/

/* spacing between courses */
table[id^='ACE_DU_SS_SUBJ_CAT'] > tbody > tr > td[height='20'] {
  height:25px;
}

/* spacing between elements in courses */
/*#ACE_DU_SS_SUBJ_CAT\$0 tbody tr:first-child td[width='252'] {
  width:330px;
}*/

/* 1st layer expand courses arrow dropdown */
a[id^='DU_SEARCH_WRK_SSR_EXPAND_COLLAP2'] {
  position:relative;
  top:6px;
}

/* 2nd layer expand courses arrow dropdown */
a[id^='DU_SEARCH_WRK_SSR_EXPAND_COLLAPS'] {
  position:relative;
  top:4px;
}

/* course status icons */
table[id^='ACE_DERIVED_REGFRM1_SSR_WAIT_LIST_ON'] tbody tr:nth-child(2) td div {
  position:relative;
  top:5px;
}

/* course options */
.PSGRIDNAVIGATOR {
  display:none;
}

/* course nav bar */
.PSLEVEL3GRIDWBO tbody tr td:first-child[colspan] {
  padding: 6px 10px;
  border-radius: 3px 3px 0px 0px;
}

/* height of list of courses in subject */
table[id^='ACE_GB_SUBJECT'] > tbody:first-child > tr:nth-child(2) > td:first-child {
  height:auto;
}
table[id^='ACE_SUBJECT$'][cols='6'] > tbody:first-child > tr > td[height]:not([colspan]):not([width]) {
  height:auto;
}

/* OLD NUMBER */
div[id^='win0divDERIVED_SSS_BCC_DESCRlbl'] {
  display:none;
}
span[id^='DERIVED_SSS_BCC_DESCR'] {
  position: relative;
}
span[id^='DERIVED_SSS_BCC_DESCR']::before {
  content: "OLD: ";
  color:#01518e;
  position:absolute;
  left:-30px;
  top:0px;
}

/* go to top button */
#win0divDERIVED_SSTSNAV_SSS_FOOTER_LINKS div a {
  position: relative;
  left: 8px;
  top: -4px;
}

/* all links */
a {
  text-decoration-skip: ink; /* skipping underlines */
}
